
.nav-bar {
  font-family:Arial, Helvetica, sans-serif;
  margin-left: -10px;
  width: 99%;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
}

.nav-bar-scrolled {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-bar ul {
  color: black;
  text-decoration: none;
  display: flex;
  list-style: none;
}

.nav-bar ul li {
  margin: 10px 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.right-nav {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.right-nav i {
  margin-right: 30px;
  font-size: 20px;
}

button {
  height: 55px;
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right-nav i:hover,
.right-nav button:hover {
  cursor: pointer;
}

.footer {
  background-color: #ebeced;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

body,
.footer {
  margin: 0;
  padding: 0;
}

.upper {
  padding: auto;
  display: flex;
  margin-top: 40px;
}

.footer-div {
  display: flex;
  justify-content: center;
}

.footer-div > div {
  margin: 0 80px;
}

.div1 img {
  margin-left: 30px;
  cursor: pointer;
}

.div1 p {
  text-align: center;
}

.div2 h6 {
  margin: 0 10px;
  padding: 20px;
  color: black;
  font-size: 15px;
}

.div2 ul {
  margin: 0 10px;
  padding: 20px;
  color: black;
  font-size: 15px;
  list-style: none;
}

.div2 ul li a {
  line-height: 1.5rem;
  text-decoration: none;
  color: rgb(0, 179, 255);
}

.div3 {
  margin: 0 10px;
  color: black;
  font-size: 15px;
}

.div3-attr {
  text-decoration: none;
  color: rgb(0, 179, 255);
  cursor: pointer;
}

.icon-div3 {
  cursor: pointer;
}

.div4 h4 {
  margin: 0 10px;
  padding: 15px;
  color: black;
  font-size: 15px;
}

.div4 ul {
  margin: 0 10px;
  padding: 20px;
  color: black;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}

.div4 ul li a {
  line-height: 1.5rem;
  text-decoration: none;
  color: rgb(0, 179, 255);
}

.lower {
  display: flex;
  justify-content: space-between;
}

.lower-left {
  margin-left: 95px;
  margin-right: 40px;
  padding: 20px 20px;
  color: rgb(86, 86, 86);
  cursor: pointer;
}

.lower-right {
  margin-left: 500px;
}

.lower-right ul {
  color: black;
  text-decoration: none;
  display: flex;
  list-style: none;
  padding: 0;
}

.lower-right li {
  margin-left: 20px;
}

.lower-right li a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

.line {
  width: calc(100% - 40px);
  margin: 0 auto;
  border: none;
  border-top: 1px solid #00bbee;
}

.heading-h1 h1{
    margin-top: 70px;
    text-align: center;
    color: rgb(43, 42, 42);
    font-size: 45px;
    font-weight: 500px;
}

.main{
    background-color: #ebeced;
}

.upper1{
    display: flex;
}

.img1 img{
    width: auto;
    height: 550px;
    margin-left: 80px;
    margin-top: 90px;
}

.para1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 90px;
    margin-top: 120px;
    font-size: 22px;
    line-height: 1.5em;
    font-weight: lighter;
}

.img2 {
    width: 80%;
    padding: 30px;
    margin-left: 10%;
    background-color: #ebeced;
    display: flex;
    justify-content: space-evenly;
  }
  
  .img2 img {
    height: 70px;
    width: auto;

  }

  .img2-1, .img2-2, .img2-3, .img2-4, .img2-5, .img2-6, .img2-7{
    opacity: 0.3; 
    transition: opacity 0.3s; 
  }
  
.img2-1:hover{
    opacity: 0.9;
}
.img2-2:hover{
    opacity: 0.9;
}
.img2-3:hover{
    opacity: 0.9;
}
.img2-4:hover{
    opacity: 0.9;
}
.img2-5:hover{
    opacity: 0.9;
}
.img2-6:hover{
    opacity: 0.9;
}
.img2-7:hover{
    opacity: 0.9;
}